src/
runtime/*
!runtime/.gitkeep
config/keys/*
!config/keys/.gitkeep
config/certificates/*
!config/certificates/.gitkeep
config/secrets/*
!config/secrets/.gitkeep
config/letsencrypt/*
!config/letsencrypt/.gitkeep
config/authorization/*
!config/authorization/.gitkeep
logs/
.idea
.env
docker-compose.override.yml