[submodule "core"]
	path = core
	url = https://github.com/sgoranov/identity-link
[submodule "db-users"]
	path = db-users
	url = https://github.com/sgoranov/identity-link-db-users
[submodule "db-clients"]
	path = db-clients
	url = https://github.com/sgoranov/identity-link-db-clients
[submodule "2fa"]
	path = 2fa
	url = https://github.com/sgoranov/identity-link-2fa
